/************************
 *
 * title       : Chihiro Portfolio
 * description : Chihiro's portfolio create
 * 
 ************************/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
/************************
 *
 * base
 * Date 2014/12/02
 *
 ************************/
body
{
    background: url(../images/linedpaper.png);
}

.wrapper
{
    width: 1000px;
    height: auto;
    margin: 40px auto;
}

.index
{
    position: relative;
    /*
   * title
   *
   ************************/
    /*
   * content
   *
   ************************/
    /*
  * decoration
  *
  ************************/
}
.index h1
{
    font-family: 'Droid Serif', serif;
    font-size: 120%;
    font-weight: 400;

    letter-spacing: 2px;
}
.index .wrapperMain
{
    display: block;

    width: 100%;
    height: 717px;
}
.index .wrapperMain .mainImage
{
    display: block;

    width: 762px;
    height: 770px;
    margin: 0 auto;

    background: url(../images/index_flower.png) no-repeat;
}
.index .mainImageString
{
    position: absolute;
    top: -40px;
    left: 137px;

    display: inline-block;

    width: 725px;
    height: 60px;

    background: url(../images/index_flower_line.png) repeat-y;
}
